<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'Create an Account'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" class="form" (ngSubmit)="registerUser()">

    <ion-item>
      <ion-label position="floating">{{'First Name'|translate}}</ion-label>
      <ion-input type="text" name="customers_firstname" [(ngModel)]="formData.customers_firstname" required>
      </ion-input>
    </ion-item>
    <ion-text class="helptext"> * {{"required"|translate}}</ion-text>
    <ion-item>
      <ion-label position="floating">{{'Last Name'|translate}}</ion-label>
      <ion-input type="text" name="customers_lastname" [(ngModel)]="formData.customers_lastname" required>
      </ion-input>
    </ion-item>
    <ion-text class="helptext"> * {{"required"|translate}}</ion-text>
    <ion-item>
      <ion-label position="floating">{{'Phone Number'|translate}}</ion-label>
      <ion-input inputmode="tel" minlength=9 maxlength=15 pattern="^([0-9\(\)\/\+ \-]*)$" name="Mobile"
        [(ngModel)]="formData.customers_telephone" required>
      </ion-input>
    </ion-item>
    <ion-text class="helptext"> * {{"required"|translate}}</ion-text>
    <ion-item>
      <ion-label position="floating">{{'Email'|translate}}</ion-label>
      <ion-input type="email" email name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [(ngModel)]="formData.email" required>
      </ion-input>
    </ion-item>
    <ion-text class="helptext"> * {{"invalid email"|translate}}</ion-text>
    <ion-item>
      <ion-label position="floating">{{'Password'|translate}}</ion-label>
      <ion-input type="password" name="c_d" [(ngModel)]="formData.password" required>
      </ion-input>
    </ion-item>
    <ion-text class="helptext"> * {{"required"|translate}}</ion-text>
    <ion-radio-group [(ngModel)]="formData.customers_gender" name="gender">
      <ion-list-header class="ion-no-padding">
        <ion-label>{{"Gender"|translate}}</ion-label>
      </ion-list-header>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ion-text-capitalize">{{"male"|translate}}</ion-label>
            <ion-radio [value]="0"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="ion-text-capitalize">{{"female"|translate}}</ion-label>
            <ion-radio [value]="1"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-item>
      <ion-label position="floating">{{'Date of Birth'|translate}}</ion-label>
      <ion-datetime value="1990-01-01" displayFormat="YYYY-MM-DD" min="1930-01-01" max="2008-12-30"
        [(ngModel)]="formData.customers_dob" name=date required>
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="errorMessage!=''" lines="none">
      <ion-label color="danger">
        {{errorMessage| translate}}
      </ion-label>
    </ion-item>

    <p>{{"Creating an account means you’re okay with our"|translate}}
      <a (click)="openTermServicesPage()">{{'Term and Services'|translate}}</a>,
      <a (click)="openPrivacyPolicyPage()">{{'Privacy Policy'|translate}}</a> {{'and'|translate}}
      <a (click)="openRefundPolicyPage()">{{'Refund Policy'|translate}}</a>
    </p>

    <ion-button disabled="true" expand="full" color="secondary" type="submit" [disabled]="!loginForm.form.valid">
      {{'Register'|translate}}
    </ion-button>
  </form>
</ion-content>